<link rel="stylesheet" href="/css/form.css">
<div class="content">
  {{> banner}}
  <h2> Edit User </h2>
  {{#if error}}
    <form class="needs-validation was-validated" method="post" novalidate>
  {{else}}
    <form class="needs-validation" method="post" novalidate>
  {{/if}}
    <div class="form-group">
        <label for="inputUsername">Username:</label>
        <input name="username" type="username" class="form-control" id="username" aria-describedby="username" placeholder="Enter username" value="{{profile.username}}" required>
        <div class="invalid-feedback">
          Username is a required field *
        </div>
    </div>
    <div class="form-group">
      <label for="inputEmail">Email Address:</label>
      <input class="form-control" name="email" type="email" id="inputEmail" aria-describedby="email address" placeholder="Email Address" value="{{profile.email}}" required>
      <div class="invalid-feedback">
        Email Address is a required field *
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <div class="input-group mb-3" id="show_hide_password">
        <input type="password" name="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="password" value="{{profile.password}}" required id="inputPassword">
        <div class="input-group-append">
          <span class="input-group-text"><a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a></span>
        </div>
      </div>
    </div>
    <div class="form-check form-group">
      <label class="form-check-label">
          {{#if profile.approver}}
              <input type="checkbox" name="approver" class="form-check-input" checked>
          {{else}}
              <input type="checkbox" name="approver" class="form-check-input">
          {{/if}}
        Approver
      </label>
    </div>
    <a href="/edit_users"><button type="button" class="btn" style="border: 1px solid #5d5d5d; color: #5d5d5d;">Cancel</button></a>
    <button type="submit" class="btn submit">Save</button>
  </form>
</div>
<script src="/js/edit_user.js"></script>
