<div>
  {{> banner }}
  {{> table_header }}
  <h1> Users </h1>

  <!-- Current Users -->
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Approver</th>
        <th scope="col">Email</th>
        <th scope="col">Active</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
        <tr>
            <th scope="row">{{this.username}}</th>
            <td>{{this.approver}}</td>
            <td>{{this.email}}</td>
            <td>{{this.active}}</td>
            <td>
              <a href="{{../endpoint.edit}}={{this._id}}" style="text-decoration: none;">
                <button type="button" class="btn edit-button" style="padding: 2px 8px 0px 10px; font-size: 16px;">
                  <i class="fa fa-edit"></i>
                </button>
              </a>
              <span class="space"></span>
              {{#if this.active}}
                <button id="delete-{this._id}" type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-{{this._id}}" style="padding: 2px 8px 0px 8px; font-size: 16px;">
                  <i class="fa fa-ban"></i>
                </button>
              {{else}}
                <button id="delete-{this._id}" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-{{this._id}}" style="padding: 2px 8px 0px 8px; font-size: 16px;">
                  <i class="fa fa-chevron-circle-up"></i>
                </button>
              {{/if}}
            </td>
        </tr>
        {{#if this.active}}
          {{> modal}}
        {{else}}
          {{> secondaryModal}}
        {{/if}}
      {{/each}}
    </tbody>
  </table>
</div>

{{> pagination}}

<script src="/js/edit_users.js"></script>
