<div>
  <span style="float: right;">
    <form class="form-inline my-2 my-lg-0">
      <input id="search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button id="search-btn" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      <span style="padding: 4px;"> </span>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">+</button>
    </form>
  </span>
  <h1> Broadcasts </h1>
  <table class="table">
      <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">Username</th>
              <th scope="col">To</th>
              <th scope="col">Date</th>
              <th></th>
          </tr>
      </thead>
      <tbody>
          {{#each broadcasts}}
              <tr>
                  <th scope="row">{{math @index "+" ../startIndex}}</th>
                  <td>{{this.from.username}}</td>
                  <td>{{this.to}}</td>
                  <td>{{this.dateString}}</td>
                  <td><button type="button" class="btn btn-primary toggle-row" data-toggle="collapse" data-target="#{{this._id}}"> Details </button></td>
              </tr>
              <tr>
                  <td class="blank-row"> </td>
                  <td class="blank-row details" colspan="3">
                      <div id="{{this._id}}" class="collapse out">
                          <div> From: {{this.from.email}} </div>
                          <div> To: {{this.to}} </div>
                          <div class="description"> Subject: {{this.subject}}</div>
                          <div> Body: {{this.body}}</div>
                      </div>
                  </td>
              </tr>
          {{/each}}
      </tbody>
  </table>
  {{#if noBroadcasts}}
      <h3> No Broadcasts Have Been Sent </h3>
  {{/if}}
  <div class="d-flex justify-content-end">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="/">1</a></li>
        <li class="page-item"><a class="page-link" href="/?page=2">2</a></li>
        <li class="page-item"><a class="page-link" href="/?page=3">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <script src="/js/collapsible_table.js"></script>
</div>
