<div class="content">
    <h1> Audit Log </h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Type</th>
                <th scope="col">Time</th>
                <th scope="col">Date</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each logs}}
                <tr>
                    <th scope="row"> {{math @index "+" 1}}</th>
                    <td>{{this.change}}</td>
                    <td>{{this.type}}</td>
                    <td>{{this.time_string}}</td>
                    <td>{{this.date_string}}</td>
                    <td><button type="button" class="btn btn-primary toggle-row" data-toggle="collapse" data-target="#{{this._id}}"> Details </button></td>
                </tr>
                <tr>
                    <td class="blank-row"> </td>
                    <td class="blank-row" colspan="4">
                        <div id="{{this._id}}" class="collapse out">
                            <span class="description"> Description: {{this.description}} </span>
                        </div>

                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<script src="/js/log.js"></script>
