{{#if approver}}
    <ul id="log" class="list-group">
        {{#each logs}}
            <li class="list-group-item">
                <div>
                    <span class="number">
                        {{@index}}. {{item}}
                    </span>
                    <span class="to">
                        Type: {{this.type}}
                    </span>
                    <span class="float-right">
                        From: {{this.request_id.from.username}}
                    </span>
                </div>
                <div>
                    <button class="no-highlight" data-toggle="collapse" data-target="#{{this._id}}">Body</button>
                    {{#if this.request_id.approved}}
                        <span class="float-right">
                            Approved by: {{this.request_id.approver}}
                        </span>
                    {{/if}}
                </div>
                <div id={{this._id}} class="collapse">
                    {{this.request_id.body}}
                </div>
            </li>
        {{/each}}
    </ul>
    <script src="/js/log.js"></script>
{{else}}
    <div> You Do Not Have Access To This Feature. Contact IT For Access. </div>
{{/if}}
