<ul id="log" class="list-group">
    {{#each logs}}
        <li id="log-list" class="list-group-item">
            <div>
                <span class="number">
                    {{@index}}. {{item}}
                </span>
                <span class="to">
                    To: {{this.request_id.[0].to}}
                </span>
                <span class="from">
                    From: {{this.request_id.[0].from}}
                </span>
            </div>
            <div>
                {{#if this.approved}}
                    <span class="approved">
                        Approved by: {{this.approver}}
                    </span>
                {{/if}}
                <button class="no-highlight" data-toggle="collapse" data-target="#{{this._id}}">Body</button>
            </div>
            <div id={{this._id}} class="collapse">
                {{this.request_id.[0].body}}
            </div>
        </li>
    {{/each}}
</ul>
