<link rel="stylesheet" href="/css/form.css">
<div id="form-ids" style="display: none;" multiselect-ids="toField" multiselect-feedback="toFeedback" select-novalidation-ids="templateField" other="body"></div>
<div id="error_msg" class="alert alert-warning" style="display: none;" role="alert">
    Error Retrieving Template
</div>
<div id="error_msg-extension" class="alert alert-warning" style="display: none;" role="alert">
    A file you just added has an invalid extension. Only .docx and .pdf files are allowed
</div>
<div id="error_msg-size" class="alert alert-warning" style="display: none;" role="alert">
    One of more files you have attached is larger than the max file size - 250 KB.
</div>
<div id="error_msg-number" class="alert alert-warning" style="display: none;" role="alert">
  You attempted to attach too many files. You can only attach up to 7 files.
</div>
{{#if error}}
  {{#compare error "file_extension"}}
    <div class="alert alert-warning" role="alert">
      One or more files you have attached are unsupported. Only .docx and .pdf files are allowed.
    </div>
  {{/compare}}
  {{#compare error "limit_file_size"}}
    <div class="alert alert-warning" role="alert">
      One of more files you have attached is larger than the max file size - 250 KB.
    </div>
  {{/compare}}
  {{#compare error "limit_unexpected_file"}}
    <div class="alert alert-warning" role="alert">
      You have attached too many files. Please do not modify the html.
    </div>
  {{/compare}}
{{/if}}
<div class="form-box">
{{#if error}}
  <form class="needs-validation was-validated" method="post" action="/new_request" enctype="multipart/form-data" novalidate>
{{else}}
  <form class="needs-validation" method="post" action="/new_request" enctype="multipart/form-data" novalidate>
{{/if}}
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="toField">To:</label><br>
        <select id="toField" name="toField" class="form-control">
            {{#each groups}}
              {{#if this.distribution}}
                <option value={{this.name}}>{{this.name}}</option>
              {{/if}}
            {{/each}}
        </select>
        <div class="invalid-feedback" id="toFeedback">
          To is a required field *
        </div>
        <div style="display: none;" id="toSelect">{{to}}</div>
      </div>
      <div class="form-group col-md-6">
        <label for="locationField">Location:</label><br>
        <select id="locationField" name="locationField" class="form-control">
            {{#each groups}}
                <option value={{this}}>{{this}}</option>
            {{/each}}
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
          <label for="fromField">From:</label>
          <select name="from" id="fromField" class="form-control" required>
            <option value=""selected>Choose...</option>
            {{#each groups}}
              {{#unless this.distribution}}
                <option value={{this.name}}>{{this.name}}</option>
              {{/unless}}
            {{/each}}
          </select>
          <div class="invalid-feedback">
            From is a required field *
          </div>
          <div style="display: none;" id="fromSelect">{{from}}</div>
      </div>
      <div class="form-group col-md-6">
          <label for="templateField">Template:</label>
          <select id="templateField" class="form-control">
            <option value=""selected>Choose...</option>
            {{#each templates}}
                <option>{{this.name}}</option>
            {{/each}}
          </select>
      </div>
    </div>
    <div class="form-group">
        <label for="subject">Subject:</label>
        <input name="subject" type="subject" class="form-control" id="subject" aria-describedby="requestSubject" placeholder="Enter subject" value="{{subject}}" required>
        <div class="invalid-feedback">
          Subject is a required field *
        </div>
    </div>
    <div class="form-group">
        <label for="body">Body:</label>
        <textarea name="body" class="form-control" rows="4" id="body">{{body}}</textarea>
        <div class="invalid-feedback" id="bodyFeedback">
          Body is a required field *
        </div>
    </div>
    <div class="form-group files" style="padding-top: 7px">
        <label for="thumbnail-1">Attach a File (Max 7):</label><br>
        <div>
          <input class="thumbnail" type="file" name="files" id="thumbnail-1" multiple>
          <span id="files"></span>
          <span id="attachments" style="display: none;">{{attachments}}</span>
          <span id="modify" _id="{{id}}"></span>
        </div>
    </div>
    <div class="form-group">
        <button id="new_request" clicked="false" type="submit" class="btn submit">Submit</button>
    </div>
  </form>
</div>
<script src="/js/form.js"></script>
<script src="/js/new_request.js"></script>
