<link rel="stylesheet" href="/css/form.css">
<div id="form-ids" style="display: none;" multiselect-ids="toField" multiselect-feedback="toFeedback" select-novalidation-ids="templateField" other="body"></div>
<div id="error_msg" class="alert alert-warning" style="display: none;" role="alert">
    Error Retrieving Template
</div>
{{#if error}}
  <div class="alert alert-warning" role="alert">
    {{#compare error "file_extension"}}
      One or more files you have attached are unsupported. Only .docx and .pdf files are allowed.
    {{/compare}}
    {{#compare error "limit_file_size"}}
      One of more files you have attached is larger than the max file size - 250 KB.
    {{/compare}}
    {{#compare error "limit_unexpected_file"}}
      You have attached too many files. Please do not modify the html.
    {{/compare}}
  </div>
{{/if}}
<div class="form-box">
{{#if error}}
  <form class="needs-validation was-validated" method="post" action="/new_request" enctype="multipart/form-data" novalidate>
{{else}}
  <form class="needs-validation" method="post" action="/new_request" enctype="multipart/form-data" novalidate>
{{/if}}
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="toField">To:</label><br>
        <select id="toField" name="toField" class="form-control">
            {{#each groups}}
                <option value={{this}}>{{this}}</option>
            {{/each}}
        </select>
        <div class="invalid-feedback" id="toFeedback">
          To is a required field *
        </div>
        <div style="display: none;" id="toSelect">{{to}}</div>
      </div>
      <div class="form-group col-md-6">
        <label for="locationField">Location:</label><br>
        <select id="locationField" name="locationField" class="form-control">
            {{#each groups}}
                <option value={{this}}>{{this}}</option>
            {{/each}}
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
          <label for="fromField">From:</label>
          <select name="from" id="fromField" class="form-control custom-select" required>
            <option value=""selected>Choose...</option>
            {{#each templates}}
                <option value={{this.title}}>{{this.title}}</option>
            {{/each}}
          </select>
          <div class="invalid-feedback">
            From is a required field *
          </div>
          <div style="display: none;" id="fromSelect">{{from}}</div>
      </div>
      <div class="form-group col-md-6">
          <label for="templateField">Template:</label>
          <select id="templateField" class="form-control">
            <option value=""selected>Choose...</option>
            {{#each templates}}
                <option>{{this.title}}</option>
            {{/each}}
          </select>
      </div>
    </div>
    <div class="form-group">
        <label for="subject">Subject:</label>
        <input name="subject" type="subject" class="form-control" id="subject" aria-describedby="requestSubject" placeholder="Enter subject" value="{{subject}}" required>
        <div class="invalid-feedback">
          Subject is a required field *
        </div>
    </div>
    <div class="form-group">
        <label for="body">Body:</label>
        <textarea name="body" class="form-control" rows="4" id="body">{{body}}</textarea>
        <div class="invalid-feedback" id="bodyFeedback">
          Body is a required field *
        </div>
    </div>
    <div class="form-group files" style="padding-top: 7px>
        <label for="thumbnail-1">Attach a File (Max 7):</label><br>
        <input class="thumbnail" type="file" name="files" id="thumbnail-1">
    </div>
    <div class="form-group hidden">
        <input class="thumbnail" type="hidden" name="files" id="thumbnail-2">
    </div>
    <div class="form-group hidden">
        <input class="thumbnail" type="hidden" name="files" id="thumbnail-3">
    </div>
    <div class="form-group hidden">
        <input class="thumbnail" type="hidden" name="files" id="thumbnail-4">
    </div>
    <div class="form-group hidden">
        <input class="thumbnail" type="hidden" name="files" id="thumbnail-5">
    </div>
    <div class="form-group hidden">
        <input class="thumbnail" type="hidden" name="files" id="thumbnail-6">
    </div>
    <div class="form-group hidden">
        <input class="thumbnail" type="hidden" name="files" id="thumbnail-7">
    </div>
    <div class="form-group">
        <button id="new_request" clicked="false" type="submit" class="btn submit">Submit</button>
    </div>
  </form>
</div>
<script src="/js/form.js"></script>
<script src="/js/new_request.js"></script>
