{{#if success}}
<div class="alert alert-success" role="alert">
    Broadcast was processed.
</div>
{{/if}}
{{#if failed}}
<div class="alert alert-danger" role="alert">
    Database Error! Broadcast was not processed.
</div>
{{/if}}
<a href="/new_request"> <button type="button" class="btn btn-light nrbtn" style="float: right;">Create New Broadcast</button> </a>
<h1> Pending Broadcasts </h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">To</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {{#each pendingRequests}}
            <tr>
                <th scope="row">{{math @index "+" 1}}</th>
                <td>{{this.from.username}}</td>
                <td>{{this.to}}</td>
                <td><button type="button" class="btn btn-primary toggle-row" data-toggle="collapse" data-target="#{{this._id}}"> Details </button></td>
            </tr>
            <tr>
                <td class="blank-row"> </td>
                <td class="blank-row details" colspan="3">
                    <div id="{{this._id}}" class="collapse out">
                        <div> From: {{this.from.email}} </div>
                        <div> To: {{this.to}} </div>
                        <div class="description"> Subject: {{this.subject}}</div>
                        <div> Body: {{this.body}}</div>
                        <div> Attachments:
                            {{#if this.attachments}}
                                {{#each this.attachments}}
                                    <a href="/uploads/{{this.filename}}" download>
                                        <!-- "../{{this.path}}" -->
                                        <button>
                                            <i class="fa fa-file"></i> {{this.filename}}
                                        </button>
                                    </a>
                                {{/each}}
                            {{else}}
                                None
                            {{/if}}
                        </div>
                        <div class="right">
                            <div class="description"> </div>
                            {{#if @root.user.approver}}
                                <span id=decision-{{this._id}} class="display-inline">
                                    <button id=accept-{{this._id}} type="button" class="no-highlight accept-btn btn-xs btn-success">Approve</button>
                                    <button id=reject-{{this._id}} type="button" class="no-highlight reject-btn btn-xs btn-danger">Reject</button>
                                </span>
                            {{/if}}
                        </div>
                    </div>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>
{{#unless pendingRequests}}
    <h3>No Pending Requests</h3>
{{/unless}}
<div>Create a new broadcast <a href="/new_request">here</a>.</div>
<script src="/js/collapsible_table.js"></script>
<script src="/js/pending_requests.js"></script>
