<link rel="stylesheet" href="/css/form.css">
<div class="content">
  {{> banner}}
  <h2> User Profile: {{profile.username}} </h2>
  {{#if profile.signature.filename}}
    <div style="position: relative">
      <img src="user_data/signatures/{{profile.signature.filename}}"></img>
      <div>
        <button data-toggle="modal" data-target="#modal" type="button" id="delete-btn" style="position: absolute; top: 0px; left: -10px; color: red; background-color: transparent;">
          <i class="fa fa-times"></i>
        </button>
        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="groupModal" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="groupModalLabel">{{@root.modal.title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <span> {{@root.modal.text}} </span>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger trash" name="{{this.name}}" id="modal-confirm">{{@root.modal.type}}</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  {{/if}}
  <form action="/user_settings" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label for="signatureUpload">Upload Signature:</label><br>
      <input type="file" name="fileUpload" aria-label="fileUpload" aria-describedby="signatureUpload" id="signatureUpload" style="color: black; width: 100%;">
    </div>
    <a href="/home"><button type="button" class="btn" style="border: 1px solid #5d5d5d; color: #5d5d5d;">Cancel</button></a>
    <button type="submit" class="btn submit">Save</button>
  </form>
</div>
<script src="/js/user_settings.js"></script>
