{{#if request}}
{{#compare request "success"}}
    <div class="alert alert-success" role="alert">
        {{alert_msg}}
    </div>
{{/compare}}
{{#compare request "failure"}}
    <div class="alert alert-warning" role="alert">
        {{alert_msg}}
    </div>
{{/compare}}
{{/if}}

<div class="content">
    <div>
        <a href="/new_group"><button type="button" class="btn btn-primary">Add New Group</button></a>
    </div>
    <h1> Groups </h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each groups}}
                    <tr>
                        <th scope="row">{{this.name}}</th>
                        <td>{{this.email}}</td>
                        <td><a href="/edit_group?group={{this._id}}"><button type="button" class="btn btn-primary"><i class="fa fa-edit"></i></button></a><span class="space"></span><button type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button></a></td>
                    </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<script src="/js/edit_groups.js"></script>
