<div>
  <span style="float: right;">
    <a href="/new_request" style="float: right;">
      <button class="btn yellow-button my-2 my-sm-0" type="button">
        <i class="fa fa-edit"></i>
      </button>
    </a>
  </span>
  <h1> Broadcast </h1>
  <div class="border-top" style="padding-top: 10px;">
    <div> To: {{request.to}} </div>
    <div> From: {{request.from}} </div>
    <div> Subject: {{request.subject}} </div>
    <div class="border-top" style="padding: 10px 0 10px 0;"> {{request.body}} </div>
    <div class="border-top" style="padding-top: 10px;">
      {{#each request.attachments}}
        <span style="display: inline-block; margin-right: 10px;">
          <a href="{{substring this.path 6 this.path.length}}" style="color: green; display: flex; flex-direction: column; align-items: center; justify-content: center;" download>
            <div style="flex: start;"><i class="fa fa-file"></i></div>
            <div style="color: black; flex: end;">{{this.originalname}}</div>
          </a>
        </span>
      {{/each}}
    </div>
  </div>
</div>
