<tr>
    <td class="blank-row"> </td>
    <td class="blank-row details" colspan="3">
        <div id="{{this._id}}" class="collapse out">
            <div> From: {{this.from.email}} </div>
            <div> To: {{this.to}} </div>
            <div class="description"> Subject: {{this.subject}}</div>
            <div> Body: {{this.body}}</div>
        </div>
    </td>
</tr>
