<div>
{{> banner}}
{{> table_header}}
  {{#if pending}}
    <h1> Pending Broadcasts </h1>
  {{else}}
    <h1> Broadcasts </h1>
  {{/if}}
  <table class="table">
      <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">Username</th>
              <th scope="col">To</th>
              <th scope="col">Subject</th>
              <th scope="col">Date</th>
          </tr>
      </thead>
      <tbody>
          {{#each broadcasts}}
              {{#if ../pending}}
                <tr class="clickable-row" data-toggle="collapse" data-target="#decision-{{this._id}}">
              {{else}}
                <tr class="clickable-row" data-href="/broadcast?id={{this._id}}&page={{@root.page}}">
              {{/if}}
                  <th style="width: 5%;" scope="row">{{math @index "+" ../startIndex}}</th>
                  <td style="min-width: 20%;">{{this.createdBy.username}}</td>
                  <td style="min-width: 20%;">{{this.to}}</td>
                  <td style="width: 50%;">{{this.subjectString}}</td>
                  <td style="width: 15%;">{{this.dateString}}</td>
              </tr>
              {{#if ../pending}}
                <tr>
                    <td class="blank-row"> </td>
                    <td class="blank-row details" colspan="4">
                        <div id="decision-{{this._id}}" class="collapse out">
                            <div> To: {{this.to}} </div>
                            <div> From: {{this.from}} </div>
                            <div> Subject: {{this.subject}} </div>
                            <div class="border-top" style="padding: 10px;"> {{{this.body}}} </div>
                            <div class="border-top">
                              {{#each this.attachments}}
                                <span style="display: inline-block; margin-right: 10px;">
                                  <a href="{{substring this.path 6 this.path.length}}" style="color: green; display: flex; flex-direction: column; align-items: center; justify-content: center;" download>
                                    <div style="flex: start;"><i class="fa fa-file"></i></div>
                                    <div style="color: black; flex: end;">{{this.originalname}}</div>
                                  </a>
                                </span>
                              {{/each}}
                            </div>
                            <div style="float: right; cursor: default;">
                              <btn id="approve-{{this._id}}" lastUpdated="{{this.lastUpdated}}" class="approve-btn btn-sm btn-success" style="cursor: default; padding-bottom: 7px;">Approve</btn>
                              <btn id="reject-{{this._id}}" lastUpdated="{{this.lastUpdated}}" class="reject-btn btn-sm btn-danger" style="cursor: default; padding-bottom: 7px;">Reject</btn>
                              <a href="{{this.modificationHref}}">
                                <button class="btn my-2 my-sm-0 edit-button" type="button" style="padding: 2px 8px 0px 10px; font-size: 16px;">
                                  <i class="fa fa-edit"></i>
                                </button>
                              </a>
                            </div>
                        </div>
                    </td>
                </tr>
              {{/if}}
          {{/each}}
      </tbody>
  </table>
  {{#if noBroadcasts}}
    {{#if pending}}
      <h3> No Pending Broadcasts </h3>
    {{else}}
      <h3> No Broadcasts Have Been Sent </h3>
    {{/if}}
  {{/if}}
  {{#unless noBroadcasts}}
    {{#if noResults}}
      <h4> No Results Found</h4>
    {{/if}}
  {{/unless}}

  {{> pagination}}

  {{#if pending}}
    <script src="/js/collapsible_table.js"></script>
    <script src="/js/pending_requests.js"></script>
  {{else}}
    <script src="/js/home.js"></script>
  {{/if}}
  <script src="/js/table_search.js"></script>
</div>
