<div>
  <span style="float: right;">
    {{> table_header}}
  </span>
  <h1> Audit Log </h1>
  <table class="table">
      <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">Type</th>
              <th scope="col">Title</th>
              <th scope="col">Time</th>
              <th scope="col">Date</th>
          </tr>
      </thead>
      <tbody>
          {{#each logs}}
              <tr class="clickable-row" data-toggle="collapse" data-target="#{{this._id}}">
                  <th style="width: 5%" scope="row"> {{math @index "+" ../startIndex}}</th>
                  <td>{{this.type}}</td>
                  <td>{{this.change}}</td>
                  <td>{{this.time_string}}</td>
                  <td>{{this.date_string}}</td>
              </tr>
              <tr>
                  <td class="blank-row"> </td>
                  <td class="blank-row details" colspan="5">
                      <div id="{{this._id}}" class="collapse out">
                          <div> Description: {{this.description}} </div>
                          {{#compare this.change "Approved"}}
                              <div> Approved By: {{../this.requestId.approver}} </div>
                          {{/compare}}
                          {{#compare this.change "Rejected"}}
                              <div> Rejected By: {{../this.requestId.approver}} </div>
                          {{/compare}}
                          {{#compare this.change "Created"}}
                              <div> Created By: {{../this.user_id.username}} </div>
                          {{/compare}}
                          {{#compare this.change "Edited"}}
                              <div> Edited By: {{../this.user_id.username}} </div>
                          {{/compare}}
                          {{#compare this.change "Activated"}}
                              <div> Activated By: {{../this.user_id.username}} </div>
                          {{/compare}}
                          {{#compare this.change "Deactivated"}}
                              <div> Deactivated By: {{../this.user_id.username}} </div>
                          {{/compare}}
                          {{#compare this.change "Deleted"}}
                              <div> Deleted By: {{../this.user_id.username}} </div>
                          {{/compare}}
                          {{#compare this.type "Broadcast"}}
                              <div> Created By: {{../this.requestId.username}}</div>
                              <div class="border-top"> From: {{../this.requestId.from}} </div>
                              <div> To: {{../this.requestId.to}} </div>
                              <div class="border-top"> Subject: {{../this.requestId.subject}}</div>
                              <div> Body: {{{../this.requestId.body}}}</div>
                              <div class="border-top">
                                {{#each ../this.requestId.attachments}}
                                  <span style="display: inline-block; margin-right: 10px;">
                                    <a href="{{substring this.path 6 this.path.length}}" style="color: green; display: flex; flex-direction: column; align-items: center; justify-content: center;" download>
                                      <div style="flex: start;"><i class="fa fa-file"></i></div>
                                      <div style="color: black; flex: end;">{{this.originalname}}</div>
                                    </a>
                                  </span>
                                {{/each}}
                              </div>
                          {{/compare}}
                          {{#compare this.type "User"}}
                              <div> User Edited: {{../this.editUserId.username}}</div>
                          {{/compare}}
                          {{#compare this.type "Template"}}
                              <div> Name: {{../this.templateName}} </div>
                              {{#unless ../this.templateId}}
                                {{#compare ../this.change "Deleted" operator="!=="}}
                                  <div> Note: Template has been Deleted </div>
                                {{/compare}}
                              {{/unless}}
                          {{/compare}}
                          {{#compare this.type "Group"}}
                              <div> Name: {{../this.templateName}} </div>
                              {{#unless ../this.groupId}}
                                {{#compare ../this.change "Deleted" operator="!=="}}
                                  <div> Note: Group has been Deleted </div>
                                {{/compare}}
                              {{/unless}}
                          {{/compare}}
                      </div>
                  </td>
              </tr>
          {{/each}}
      </tbody>
  </table>
  {{#if noLogs}}
    <h3> There are No Logs - Submit a request to see changes </h3>
  {{/if}}
  {{#unless noLogs}}
    {{#if noResults}}
      <h3> No Results Found</h3>
    {{/if}}
  {{/unless}}

  {{> pagination}}

  <script src="/js/collapsible_table.js"></script>
  <script src="/js/table_search.js"></script>
</div>
