<div class="content">
  {{> banner}}
  <h1>
    <a href="/pending_requests" style="text-decoration: none; cursor: default;">
      <button class="btn yellow-button my-2 my-sm-0" type="button" style="cursor: pointer;">
        <i class="fa fa-arrow-left"></i>
      </button>
    </a>
  Pending Broadcast
  </h1>
  <div class="border-top">
    <div> Created By: {{request.createdBy.username}} </div>
    <div class="border-top"> To: {{request.to}} </div>
    <div> From: {{request.from}} </div>
    <div> Subject: {{request.subject}} </div>
    <div class="border-top" style="padding-bottom: 10px;"> {{{request.body}}} </div>
    <div class="border-top">
      {{#each request.attachments}}
        <span style="display: inline-block; margin-right: 10px;">
          <a href="{{substring this.path 6 this.path.length}}" style="color: green; display: flex; flex-direction: column; align-items: center; justify-content: center;" download>
            <div style="flex: start;"><i class="fa fa-file"></i></div>
            <div style="color: black; flex: end;">{{this.originalname}}</div>
          </a>
        </span>
      {{/each}}
    </div>
    <div style="float: right; cursor: default;">
      <btn id="approve-{{request._id}}" lastUpdated="{{request.lastUpdated}}" class="approve-btn btn-sm btn-success" style="cursor: default; padding-bottom: 7px;">Approve</btn>
      <btn id="reject-{{request._id}}" lastUpdated="{{request.lastUpdated}}" class="reject-btn btn-sm btn-danger" style="cursor: default; padding-bottom: 7px;">Reject</btn>
      <a href="/new_request?id={{request._id}}">
        <button class="btn my-2 my-sm-0 edit-button" type="button" style="padding: 2px 8px 0px 10px; font-size: 16px;">
          <i class="fa fa-edit"></i>
        </button>
      </a>
    </div>
  </div>
</div>
<script src="/js/pending_requests.js"></script>
