<div>
  {{> banner }}
  {{> table_header }}
  <h1> Templates </h1>
  <div id="type" style="display: none;"> template </div>
  <table class="table">
      <thead>
          <tr>
              <th scope="col">Name</th>
              <th scope="col">Subject</th>
              <th scope="col">Created By</th>
              <th scope="col"></th>
          </tr>
      </thead>
      <tbody>
          {{#each templates}}
                  <tr>
                      <th scope="row" style="width: 30%;">{{this.name}}</th>
                      <td style="width: 30%;">{{this.subject}}</td>
                      <td style="width: 16%;">{{this.createdBy.username}}</td>
                      <td style="width: 14%;">
                        <a href="{{../endpoint.edit}}={{this._id}}" style="text-decoration: none;">
                          <button type="button" class="btn edit-button" style="padding: 2px 8px 0px 8px; font-size: 16px;">
                            <i class="fa fa-edit"></i>
                          </button>
                        </a>
                        <span class="space"></span>
                        <button id="delete-{{this._id}}" type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-{{this._id}}" style="padding: 2px 8px 0px 8px; font-size: 16px;">
                          <i class="fa fa-trash"></i>
                        </button>
                      </td>
                  </tr>
                  {{> modal}}
          {{/each}}
      </tbody>
  </table>
  {{#if noTemplates}}
      <h3> No Templates </h3>
  {{/if}}
  {{#unless noTemplates}}
    {{#if noResults}}
      <h3> No Results Found</h3>
    {{/if}}
  {{/unless}}

  {{> pagination}}

  <script src="/js/collapsible_table.js"></script>
  <script src="/js/table_search.js"></script>
  <script src="/js/delete_element.js"></script>
</div>
