{{#if request}}
    {{#compare request "success"}}
        <div class="alert alert-success" role="alert">
            {{alertMsg}}
        </div>
    {{/compare}}
    {{#compare request "failure"}}
        <div class="alert alert-warning" role="alert">
            {{alertMsg}}
        </div>
    {{/compare}}
{{/if}}

<div class="content">
    <!-- Create New Template -->
    <div>
        <a href="/new_template"><button type="button" class="btn btn-primary">Add New Template</button></a>
    </div>

    <!-- Modify Current Templates -->
    <h1> Templates </h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Subject</th>
                <th scope="col">Created By</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each templates}}
                    <tr>
                        <th scope="row">{{this.title}}</th>
                        <td>{{this.subject}}</td>
                        <td>{{this.createdBy.username}}</td>
                        <td><a href="edit_template?template={{this._id}}"><button type="button" class="btn btn-primary">Edit</button></a></td>
                    </tr>
            {{/each}}
        </tbody>
    </table>
</div>
